.payment{
  background-color: white;
}
.payment-container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: #fcfcfc;
  border-bottom: 1px solid lightgray;
}
.payment-container > h1 a{
  text-decoration: none;
}
.payment-section{
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
.payment-title{
  flex: 0.2;
}
.payment-address,
.payment-items,
.payment-details{
  flex: 0.8;
}
.payment-details > form {
  max-width: 400px;
}
.payment-price {
  padding-top: 10px;
}
.payment .btn{
  background-color: #ffd814;
  border: 1px solid ;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  border-radius: 4px;
  color: #111;
  padding: 5px 10px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .payment-section{
    padding: 10px;
    margin: 0 10px;
    display: block;
  }
  .payment-title{
    font-size: 13px;
    margin-bottom: 15px;
  }
  .payment-price {
    padding-top: 10px;
  }
}